///////////////////////////////////////
// VARIABLES //////////////////////////

$colors: (
  Pink: hsl(322, 100%, 66%),
  Light-pink: hsl(321, 100%, 78%),
  Light-red: hsl(0, 100%, 63%),
  Very-dark-cyan: hsl(192, 100%, 9%),
  Very-pale-blue: hsl(207, 100%, 98%),
  White: hsl(0, 100%, 100%),
  Gray: rgba(34, 33, 33, 0.429),
);

$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin heading($font-size: 30px) {
  font-family: $heading-font;
  font-size: $font-size;
  font-weight: 700;
  margin: 0;
}

@mixin paragraph($font-size: 14px) {
  font-family: $body-font;
  font-size: $font-size;
  font-weight: 600;
  max-width: 520px;
  letter-spacing: 0.2px;
  line-height: 25px;
}

@mixin btn() {
  background-color: color(Pink);
  color: color(White);
  font-family: $body-font;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  padding: 20px 100px;
  letter-spacing: 0.4px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
//// STYLES ///////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, center);
  min-height: 100vh;
}

.page {
  @include flex(column, flex-start, center);
}

.intro {
  @include flex(column, flex-start, center);
  width: 100%;

  &__header-container {
    @include flex(row, flex-start, center);
    width: 100%;
  }

  &__logo {
    width: 175px;
    margin: 50px 0 50px 70px;
  }

  &__header-btn {
    background-color: color(White);
    color: color(Light-pink);
    border: 2px solid color(Light-pink);
    border-radius: 20px;
    font-family: $body-font;
    font-size: 13.5px;
    font-weight: 600;
    padding: 8px 20px;
    margin-left: auto;
    margin-right: 70px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  &__img-text-container {
    @include flex(column, flex-start, center);
  }

  &__text-container {
    @include flex(column, flex-start, center);
    text-align: center;
    margin: 40px 0 95px;
  }

  &__heading {
    @include heading(37px);
  }

  &__paragraph {
    @include paragraph(17px);
    margin-top: 20px;
  }

  &__btn {
    @include btn();
    margin-top: 15px;
  }

  &__img-container {
    @include flex(column, flex-start, center);
    margin-bottom: 80px;
  }

  &__img {
    width: 800px;
  }

  &__stats-container {
    @include flex(row, flex-start, center);
    margin-bottom: 100px;
  }

  &__stat-container {
    @include flex(column, flex-start, center);
    width: 500px;
  }

  &__stat-icon {
    width: 35px;
    margin-right: 125px;
  }

  &__stat-heading {
    @include heading(60px);
    font-family: $body-font;
  }

  &__stat-paragraph {
    @include paragraph(17px);
    color: color(Gray);
    margin-top: 5px;
  }
}

.blocks {
  @include flex(column, flex-start, center);
  width: 100%;

  &__block {
    width: 100%;
  }

  &__img-text-container {
    @include flex(row, flex-start, center);
    background-color: color(Very-pale-blue);
    margin: 0;

    &--reverse {
      flex-direction: row-reverse;
      background-color: color(White);
    }
  }

  &__text-container {
    @include flex(column, center, flex-start);
    margin: 0 120px;
  }

  &__heading {
    @include heading();
  }

  &__paragraph {
    @include paragraph();
    max-width: 450px;
  }

  &__img-container {
    @include flex(column, center, center);
  }

  &__img {
    width: 450px;
  }
}

#block-img-1 {
  margin: 40px 0;
}

#block-img-2 {
  margin: 70px 0;
}

#block-img-3 {
  margin: 20px 0;
}

#block-1-before {
  background: url("../images/bg-section-top-desktop-1.svg");
  width: 100%;
  height: 155px;
}

#block-1-after {
  background: url("../images/bg-section-bottom-desktop-1.svg");
  width: 100%;
  height: 135px;
}

#block-3-before {
  background: url("../images/bg-section-top-desktop-2.svg");
  width: 100%;
  height: 155px;
}

#block-3-after {
  background: url("../images/bg-section-bottom-desktop-2.svg");
  width: 100%;
  height: 135px;
}

.cta {
  @include flex(column, center, center);

  &__container {
    @include flex(column, flex-start, center);
    margin: 100px 0;
  }

  &__heading {
    @include heading();
  }

  &__btn {
    @include btn();
    margin-top: 30px;
  }
}

.footer {
  @include flex(row, flex-start, center);

  &__columns-container {
    @include flex(row, flex-start, center);
  }

  &__column {
    @include flex(column, flex-start, flex-start);
  }
}
